<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}" />
    <link th:href='@{/css/main.min.css}' rel='stylesheet' />
    <link th:href='@{/css/bootstrap/bootstrap.min.css}' rel='stylesheet' />
    <link th:href='@{/css/bootstrap/bootstrap.css}' rel='stylesheet' />
    <link th:href='@{/css/style.css}' rel='stylesheet' />
    <link th:href='@{/css/main.css}' rel='stylesheet' />

    <link th:href='@{/css/bootstrap/bootstrap-select.min.css}' rel='stylesheet' type="text/css"/>
	<!--Toast-->
	<link rel="stylesheet" th:href="@{/css/toast.min.css}" />

    <title>Listado Usuarios</title>
   
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <div th:insert="~{fragments/sidebar :: sidebar}"></div>

        <!-- Page Content  -->
        <div id="content" class="p-1 p-md-2">
            <div th:insert="~{fragments/header :: header}"></div>

            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <h3>Listado de Ventanillas</h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <table id="dataTable" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="lista, i: ${listaVentanillas}" th:class="'ventanilla_'+${lista.id}">
                                <td> [[${i.index+1}]] </td>
                                <td class="nombre">[[${lista.nombreVentanilla}]]</td>
                                <td class="empleado">
                                    <label class="row" th:each="empleado : ${lista.empleados}" > [[${empleado.usuario.nombre}]]  [[${empleado.usuario.apellidos}]]    ([[${empleado.usuario.correo}]]) </label>
                                </td>
                                <td>
                                    <!-- Button para abrir modal de actualizacion -->
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#updateModal" th:attr="onclick=|upload('${lista.id}')|" >
                                        Asignar
                                    </button>
                                    <!--
                                    <a th:href="@{/ventanillas/eliminar/{id} (id=${lista.id})}" type="button" class="btn btn-danger">Eliminar</a>
                                    -->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                </div>
                
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">

                    <h3> Listado de personal asignado </h3>

                    <table id="dataTable" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Ventanilla</th>
                                <th scope="col">Hora de servicio </th>

                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="lista, i: ${listaVentanillaEmpleados}" th:class="'ventanilla_'+${lista.id}">
                                <td> [[${i.index+1}]] </td>
                                <td class="nombre">[[${lista.empleado.usuario.nombre}+' A '+${lista.empleado.usuario.apellidos}]]</td>
                                <td> [[${lista.ventanilla.nombreVentanilla}]] </td>
                                <td> [[${lista.horaInicio} +' A '+ ${lista.horaFin}]] </td>

                                <td>
                                    <!-- Button para abrir modal de actualizacion -->
                                    <a type="button" class="btn btn-warning" th:href="@{/ventanillas/liberar/{id} (id=${lista.id})}">
                                        Liberar
                                    </a>
                                    <!--
                                    <a th:href="@{/ventanillas/eliminar/{id} (id=${lista.id})}" type="button" class="btn btn-danger">Eliminar</a>
                                    -->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal modificacion de ventanilla-->
            <div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createModalLabel">Modificar Ventanilla</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <form id="editar" th:action="@{/ventanillas/asiganarUsuario}" method="POST" th:object="${ventanillaEmpleado}">
                            <div class="modal-body">
                                    <input type="hidden" id="ventanilla-id" th:field="*{ventanilla}">

                                    <div class="input-group mb-3">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="Empleados">Empleados</label>
                                            <select title="Seleccionar..." class="form-select form-contro selectpicker" data-show-subtext="true" data-live-search="true" th:field="*{empleado}">
                                                <option th:each="lista : ${listarEmpleados}" th:value="${lista.id}" th:text="${lista.usuario.nombre}+'  '+${lista.usuario.apellidos}"></option>
                                            </select>
                                        </div>
                                    </div>  

                                    <div class="input-group mb-3">
                                        <input id="form-hora-inicio" type="time" class="form-control" placeholder="10:00 a.m" min="08:00:00" max="17:00:00" aria-describedby="basic-addon2" required th:field="*{horaInicio}">
                                        <span class="input-group-text" id="form-hora-inicio" placeholder="08:00 a.m">Hora inicio</span>
                                    </div>

                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon3">Hora Fin</span>
                                        <input id="form-hora-fin" type="time" class="form-control phone-mask" placeholder="10:00 a.m" min="08:00:00" max="17:00:00" required th:field="*{horaFin}">
                                    </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-warning">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div th:insert="~{fragments/footer :: footer}"></div>
        </div>
    </div>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/bootstrap/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap/popper.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap/main.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/dataTables.select.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-select.min.js}" type="text/javascript"></script>
	<!--Mask inputs-->
	<script th:src="@{/js/jquery.mask.min.js}"></script>

    <!--Toast-->
	<script th:src="@{/js/toast.min.js}"></script>

	<script th:if="${msg_success != null}">
		new Toast({
			message: '[[${msg_success}]]',
			type: 'success'
		});
	</script>

	<script th:if="${msg_error != null}">
		new Toast({
			message: '[[${msg_error}]]',
			type: 'danger'
		});
	</script>

    <script>
       
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                style: 'btn-default'
            });

        });

        function upload(id) {
            var row =".ventanilla_"+id;
            $("#ventanilla-id").val(id);
            $("#editar").attr("action","/ventanillas/asiganarUsuario");
        }
    </script>
</body>

</html>