<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link th:href='@{/css/bootstrap/bootstrap.css}' rel='stylesheet' />
    <!--style plantilla-->
    <link th:href='@{/css/style.css}' rel='stylesheet' />
    <!--Datatable-->
    <link th:href='@{/css/datatable/datatables.min.css}' rel='stylesheet' />
    <link th:href='@{/css/bootstrap/bootstrap-multiselect.css}' rel='stylesheet' type="text/css" />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />


    <title>Asingacion Ventanillas</title>
    <style>
        .multiselect-container {
            width: 300px;
        }

        html,
        body {
            overflow-x: hidden;
        }
    </style>
</head>

<body style="overflow-x:hidden !important">
    <div class="wrapper d-flex align-items-stretch">
        <div th:insert="~{fragments/sidebar :: sidebar}"></div>

        <!-- Page Content  -->
        <div id="content">
            <div th:insert="~{fragments/header :: header}"></div>

            <div class="row" style="padding-left: 5%; padding-right: 5%;">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h3>Listado de Ventanillas</h3>
                </div>
            </div>

            <div class="row" style="margin-bottom: 6%;">

                <div style="padding-left: 2%; padding-right: 2%;">
                    <table id="dataTable" class="display table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Empleado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="lista, i: ${listaVentanillas}" th:class="'ventanilla_'+${lista.id}">
                                <td> [[${i.index+1}]] </td>
                                <td class="nombre">[[${lista.nombreVentanilla}]]</td>
                                <td class="empleado">
                                    <label class="row" th:each="empleado : ${lista.empleados}">
                                        [[${empleado.usuario.nombre}]] [[${empleado.usuario.apellidos}]]
                                        ([[${empleado.usuario.correo}]]) </label>
                                </td>
                                <td>
                                    <!-- Button para abrir modal de actualizacion -->
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target="#updateModal" th:attr="onclick=|upload('${lista.id}')|" style="font-size: 13px;">
                                        <i class="fas fa-user-edit"></i> Asignar
                                    </button>
                                    <!--
                                    <a th:href="@{/ventanillas/eliminar/{id} (id=${lista.id})}" type="button" class="btn btn-danger">Eliminar</a>
                                    -->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" style="padding-left: 5%; padding-right: 5%;">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h3> Listado de personal asignado </h3>
                </div>
            </div>

            <div class="row" style="margin-bottom: 6%;">
                <div style="padding-left: 2%; padding-right: 2%;">

                <table id="dataTable2" class="display table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Empleado</th>
                            <th scope="col">Ventanilla</th>
                            <th scope="col">Hora de servicio </th>

                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lista, i: ${listaVentanillaEmpleados}" th:class="'ventanilla_'+${lista.id}">
                            <td> [[${i.index+1}]] </td>
                            <td class="nombre">[[${lista.empleado.usuario.nombre}+' A
                                '+${lista.empleado.usuario.apellidos}]]</td>
                            <td> [[${lista.ventanilla.nombreVentanilla}]] </td>
                            <td> [[${lista.horaInicio} +' A '+ ${lista.horaFin}]] </td>

                            <td>
                                <!-- Button para abrir modal de actualizacion -->
                                <a type="button" class="btn btn-outline-danger btn-sm"
                                    th:attr="onclick=|deleted('${lista.id}')|" onclick="" style="font-size: 13px;">
                                    <i class="fas fa-person-booth"></i> Liberar
                                </a>
                                <!--
                                    <a th:href="@{/ventanillas/eliminar/{id} (id=${lista.id})}" type="button" class="btn btn-danger">Eliminar</a>
                                    -->
                            </td>
                        </tr>

                    </tbody>
                </table>
                </div>
            </div>
            <div th:insert="~{fragments/footer :: footer}"></div>
        </div>

        <!-- Modal Asignacion de ventanilla-->
        <div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="updateModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Asignar Ventanilla</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form class="needs-validation" novalidate id="crear" th:action="@{/ventanillas/asiganarUsuario}"
                        method="POST" th:object="${ventanillaEmpleado}">
                        <div class="modal-body">
                            <input type="hidden" id="ventanilla-id" th:field="*{ventanilla}">

                            <div class="input-group mb-3">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="Empleados">Empleados</label>
                                    <select title="Seleccionar..." class="form-select form-contro selectpicker"
                                        data-show-subtext="true" data-live-search="true" th:field="*{empleado}"
                                        required>
                                        <option th:each="lista : ${listarEmpleados}" th:value="${lista.id}"
                                            th:text="${lista.usuario.nombre}+'  '+${lista.usuario.apellidos}">
                                        </option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Porfavor ingrese un empleado.
                                    </div>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <input id="form-hora-inicio" type="time" class="form-control" placeholder="10:00 a.m"
                                    min="08:00:00" max="17:00:00" aria-describedby="basic-addon2" required
                                    th:field="*{horaInicio}">
                                <span class="input-group-text" id="form-hora-inicio" placeholder="08:00 a.m">Hora
                                    inicio</span>
                                <div class="invalid-feedback">
                                    Porfavor ingrese una hora de entrada.
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon3">Hora Fin</span>
                                <input id="form-hora-fin" type="time" class="form-control phone-mask"
                                    placeholder="10:00 a.m" min="08:00:00" max="17:00:00" required
                                    th:field="*{horaFin}">
                                <div class="invalid-feedback">
                                    Porfavor ingrese una hora de salida.
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-warning">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Bootstrap-->
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap/popper.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap/main.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrapValidate.js}"></script>
    <!--Datatable-->
    <script th:src="@{/js/datatable/datatables.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-multiselect.js}" type="text/javascript"></script>
    <!--Mask inputs-->
    <script th:src="@{/js/jquery.mask.min.js}"></script>
    <!--font-awesome-->
    <script th:src="@{/js/all.min.js}"></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
    <!--Sweetalert-->
    <script th:src="@{/js/sweetalert/sweetalert2.all.js}"></script>
    <!--Confirmaciones Modales Sweetalert-->
    <script th:src="@{/js/confirmacion-sweetalert.js}"></script>

    <script th:if="${msg_success != null}">
        new Toast({
            message: '[[${msg_success}]]',
            type: 'success'
        });
    </script>

    <script th:if="${msg_error != null}">
        new Toast({
            message: '[[${msg_error}]]',
            type: 'danger'
        });
    </script>

    <script>

        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "lengthChange": true,
                "responsive": true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });

            $('#dataTable2').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "lengthChange": true,
                "responsive": true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });
        });

        function upload(id) {
            var row = ".ventanilla_" + id;
            $("#ventanilla-id").val(id);
            $("#crear").attr("action", "/ventanillas/asiganarUsuario");
        }

        function deleted(id) {
            Swal.fire({
                title: "¿Esta seguro?",
                text: "Se liberara la ventanilla seleccionada",
                icon: "error",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#6c757d",
                confirmButtonText: "Liberar"
            }).then((result) => {
                if (result.isConfirmed) {
                    let timerInterval
                    Swal.fire({
                        title: 'Desalojando ventanilla...',
                        html: 'Limpiando <b></b> manchas del suelo....',
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: () => {
                            Swal.showLoading()
                            const b = Swal.getHtmlContainer().querySelector('b')
                            timerInterval = setInterval(() => {
                                b.textContent = Swal.getTimerLeft()
                            }, 100)
                        },
                        willClose: () => {
                            clearInterval(timerInterval)
                        }
                    }).then((result) => {
                        /* Read more about handling dismissals below */
                        if (result.dismiss === Swal.DismissReason.timer) {
                            window.location.href = "/ventanillas/liberar/" + id;
                        }
                    })
                }
            });
        }

        $(function () {

            var $body = $(document);
            $body.bind('scroll', function () {
                // "Desactivar" el scroll horizontal
                if ($body.scrollLeft() !== 0) {
                    $body.scrollLeft(0);
                }
            });

        }); 
    </script>
</body>

</html>