<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
	<div class="container-fluid">

	  <button type="button" id="sidebarCollapse" class="btn btn-primary">
		<i class="fa fa-bars"></i>
		<span class="sr-only">Toggle Menu</span>
	  </button>
	  <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <i class="fa fa-bars"></i>
	  </button>

			<ul class="navbar-nav mr-automy-2 my-lg-0">
				<li class="nav-item">
					<a class="btn btn-outline-dark" th:href="@{/logout}">
						<img th:src="@{images/logout.png}" width="30" heigth="30"> Cerrar Sesion</a>
				</li>
				</a>
				</li>
			</ul>
	</div>
  </nav>