<!-- Sidebar exclusivo del rol Administrador -->
<nav id="sidebar" th:fragment="sidebar">
	<div class="p-4 pt-5">
		<img th:src="@{../../images/logo.png}" width="250" heigth="130">
		<hr color="#717978">
		<div class="text-center">
			<h5 style="color: white;" th:if="${session.user != null}" th:text="${session.user.getNombre()} + ' ' + ${session.user.getApellidos()}"></h5>
		</div>
		<ul class="list-unstyled components mb-5" sec:authorize="isAuthenticated()">
			<li class="active">
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-users"></i>&nbsp;Usuarios</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a th:href="@{/admin/usuarios/listar}">Administrar Usuarios</a>
					</li>

					<li>
						<a th:href="@{/admin/empleados/listar}">Administrar Trabajadores</a>
					</li>

					<li>
						<a th:href="@{/admin/solicitantes/listar}">Administrar Estudiantes</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
					class="dropdown-toggle"><i class="fas fa-folder"></i>&nbsp;Servicios</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a th:href="@{/admin/servicios/listar}">Administrar Servicios</a>
					</li>
				</ul>
			</li>

			<li>
				<a href="#pageVentanilla" data-toggle="collapse" aria-expanded="false"
					class="dropdown-toggle"><i class="fab fa-windows"></i>&nbsp;Ventanillas</a>
				<ul class="collapse list-unstyled" id="pageVentanilla">
					<li>
						<a th:href="@{/ventanillas/listar}">Administrar Ventanillas</a>
					</li>
					<li>
						<a th:href="@{/ventanillas/asignar}">Asignar Ventanillas</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>

<!-- Sidebar exclusivo del rol Ventanilla -->
<nav id="sidebar" th:fragment="sidebarB">
	<div class="p-4 pt-5">
		<img th:src="@{../images/logo.png}" width="250" heigth="130">
		<hr color="#717978">
		<div class="text-center">
			<h5 style="color: white;" th:if="${session.user != null}" th:text="${session.user.getNombre()} + ' ' + ${session.user.getApellidos()}"></h5>
		</div>
		<ul class="list-unstyled components mb-5" sec:authorize="isAuthenticated()">
			<li>
				<a th:href="@{/citas/ver-agenda}"><i class="fas fa-calendar"></i>&nbsp;Agenda de Citas</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Sidebar exclusivo del rol Solicitante -->
<nav id="sidebar" th:fragment="sidebarC">
	<div class="p-4 pt-5">
		<img th:src="@{../images/logo.png}" width="250" heigth="130">
		<hr color="#717978">
		<div class="text-center">
			<h5 style="color: white;" th:if="${session.user != null}" th:text="${session.user.usuario.getNombre()} + ' ' + ${session.user.usuario.getApellidos()}"></h5>
		</div>
		<hr color="#717978">
		<ul class="list-unstyled components mb-5">
			<li class="" sec:authorize="isAuthenticated()">
				<a th:href="@{/citas/agenda-solicitante}"><i class="fas fa-calendar"></i>&nbsp;Solicitar Cita</a>
			</li>
		</ul>
	</div>
</nav>