<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href='@{/css/error.styles.css}' rel='stylesheet' />
  <title>Error 403</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="xs-12 md-6 mx-auto">
        <div id="countUp">
          <div class="number" data-count="403">0</div>
          <div class="text">Forbidden</div>
          <div class="text">Tu eres... ¿Seguro que deberias estar aqui?</div>
          <div class="text">El cliente no cuenta con los permisos necesarios para el contenido solicitado</div>
          <div class="text" style="margin-top: 1%;">
            <a th:href="@{/logout}">
              <button class="buttonReturn" style="vertical-align:middle"><i class="fas fa-home"></i> Regresar</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/jqueryV3.6.0.min.js}"></script>
  <script th:src="@{/js/inView.js}"></script>
  <!--font-awesome-->
  <script th:src="@{/js/all.min.js}"></script>
  <style th:inline="text">
    body {
      background: url([[@{/images/background.jpg}]]);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100vh;
      min-width: 100vw;
      font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
      color: rgba(255, 255, 255, 0.87);
    }
  </style>
</body>

</html>