<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href='@{/css/error.styles.css}' rel='stylesheet' />
  <title>Error 403</title>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="number" data-count="500">0</div>
                <div class="text">Internal server error</div>
                <div class="text">Hmmm.... ¿Y ahora que?</div>
                <div class="text">El servidor no sabe como manejar la peticion</div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jqueryV3.6.0.min.js}"></script>
<script th:src="@{/js/inView.js}"></script>

<style th:inline="text">
body {
  background: url([[@{/images/background.jpg}]]);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
  color: rgba(255, 255, 255, 0.87);
}
</style>
</body>
</html>