<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link th:href='@{/css/main.min.css}' rel='stylesheet' />
    <link th:href='@{/css/bootstrap/bootstrap.min.css}' rel='stylesheet' />
    <link th:href='@{/css/bootstrap/bootstrap.css}' rel='stylesheet' />
    <link th:href='@{/css/style.css}' rel='stylesheet' />
    <link th:href='@{/css/main.css}' rel='stylesheet' />


    <title>Document</title>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <div th:insert="~{fragments/sidebar :: sidebarB}"></div>

        <!-- Page Content  -->
        <div id="content" class="p-1 p-md-2">
            <div th:insert="~{fragments/header :: header}"></div>

            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                </div>
                <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                    <h3>Listado de Horarios</h3>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <!-- Button para abrir modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                        Crear Horario
                    </button>

                    <!-- Modal creacion de horario-->
                    <div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="createModalLabel">Crear Horario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/}" method="post">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect01">Empleado</label>
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option selected>Elije un empleado...</option>
                                                <option value="Marta">Marta</option>
                                                <option value="Jose">Jose</option>
                                                <option value="Pedro">Pedro</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect02">Ventanilla</label>
                                            <select class="form-select" id="inputGroupSelect02">
                                                <option selected>Elije una ventanilla...</option>
                                                <option value="Ventanilla 1">Ventanilla 1</option>
                                                <option value="Ventanilla 2">Ventanilla 2</option>
                                                <option value="Ventanilla 3">Ventanilla 3</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Fecha</span>
                                            <input type="date" class="form-control" aria-describedby="basic-addon1">
                                        </div>

                                        <label for="basic-url" class="form-label">Hora Inicio / Hora Fin</label>
                                        <div class="input-group mb-3">
                                            <input type="time" class="form-control" placeholder="Hora inicio"
                                                aria-label="Hora inicio">
                                            <span class="input-group-text">/</span>
                                            <input type="time" class="form-control" placeholder="Hora fin"
                                                aria-label="Hora fin">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-text">Cantidad de repeticiones</span>
                                            <input type="number" class="form-control" aria-describedby="basic-addon1"
                                                placeholder="1... 2... 3...">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Crear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">

                </div>

                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <table id="dataTable" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Empleado</th>
                                <th scope="col">Ventanilla</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora Entrada</th>
                                <th scope="col">Hora Salida</th>
                                <th scope="col">Repeticiones</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jose Flores</td>
                                <td>Numero 1</td>
                                <td>20 - Agosto</td>
                                <td>7:00</td>
                                <td>15:00</td>
                                <td>8</td>
                                <td>
                                    <!-- Button para abrir modal de actualizacion -->
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#updateModal">
                                        Actualizar
                                    </button>
                                    <a type="button" class="btn btn-danger" th:href="@{/}">Eliminar</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Martin Velazquez</td>
                                <td>Numero 2</td>
                                <td>20 - Agosto</td>
                                <td>15:00</td>
                                <td>22:00</td>
                                <td>4</td>
                                <td>
                                    <a type="button" class="btn btn-warning" th:href="@{/}">Actualizar</a>
                                    <a type="button" class="btn btn-danger" th:href="@{/}">Eliminar</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Fernanda Torres</td>
                                <td>Numero 3</td>
                                <td>21 - Agosto</td>
                                <td>9:00</td>
                                <td>12:00</td>
                                <td>7</td>
                                <td>
                                    <a type="button" class="btn btn-warning" th:href="@{/}">Actualizar</a>
                                    <a type="button" class="btn btn-danger" th:href="@{/}">Eliminar</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>



                    <!-- Modal modificacion de horario-->
                    <div class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="updateModalLabel">Modificar Horario</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/}" method="post">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect01">Empleado</label>
                                            <select class="form-select" id="inputGroupSelect01">
                                                <option selected>Elije un empleado...</option>
                                                <option value="Marta">Marta</option>
                                                <option value="Jose">Jose</option>
                                                <option value="Pedro">Pedro</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect02">Ventanilla</label>
                                            <select class="form-select" id="inputGroupSelect02">
                                                <option selected>Elije una ventanilla...</option>
                                                <option value="Ventanilla 1">Ventanilla 1</option>
                                                <option value="Ventanilla 2">Ventanilla 2</option>
                                                <option value="Ventanilla 3">Ventanilla 3</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Fecha</span>
                                            <input type="date" class="form-control" aria-describedby="basic-addon1">
                                        </div>

                                        <label for="basic-url" class="form-label">Hora Inicio / Hora Fin</label>
                                        <div class="input-group mb-3">
                                            <input type="time" class="form-control" placeholder="Hora inicio"
                                                aria-label="Hora inicio">
                                            <span class="input-group-text">/</span>
                                            <input type="time" class="form-control" placeholder="Hora fin"
                                                aria-label="Hora fin">
                                        </div>

                                        <div class="input-group">
                                            <span class="input-group-text">Cantidad de repeticiones</span>
                                            <input type="number" class="form-control" aria-describedby="basic-addon1"
                                                placeholder="1... 2... 3...">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-warning">Modificar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div th:insert="~{fragments/footer :: footer}"></div>
        </div>
    </div>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/bootstrap/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap/popper.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap/main.js}"></script>
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</body>

</html>