<!DOCTYPE html>
<html>

<head>
	<!--Bootstrap-->
    <link th:href='@{/css/bootstrap/bootstrap.css}' rel='stylesheet' />
    <!--style plantilla-->
    <link th:href='@{/css/style.css}' rel='stylesheet' />
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
	<link rel="icon" type="image/png" th:href="@{/images/ut.png}"/>
	<title>Iniciar sesión</title>
</head>

<body style="background-color: #e9ecef;">
	<div class="container-fluid">
		<div class="row">

			<div class="col-12">
				<div class="card mt-3 mx-auto" style="width: 400px;">
					<div class="card-body">
						<h2 class="my-auto text-center">Iniciar sesión</h2>
						<hr>
						<form class="needs-validation" novalidate th:action="@{/login}" method="post">
							<div class="form-group col">
								<label>Correo electrónico</label>
								<input class="form-control form-control-lg" type="email" name="username" max="100" pattern=".+@utez.edu.mx"
									required>
									<div class="invalid-feedback">
										Porfavor ingrese un usuario.
									</div>
							</div>

							<div class="form-group col">
								<label>Contraseña</label>
								<div class="input-group mb-3">
									<input type="password" class="form-control form-control-lg" id="password" pattern="([A-Za-z0-9].)([^'\x22]){3,}"
										name="password" max="22" required>
									<div class="input-group-append">
										<button class="btn btn-secondary" type="button" id="seePasswordButton"
											onclick="mostrarContrasena()">
											<i class="fas fa-eye"></i>
										</button>
									</div>
									<div class="invalid-feedback">
										Porfavor ingrese la contraseña.
									</div>
								</div>
							</div>

							<div class="form-group col">
								<button id="registrar" type="submit" class="btn btn-primary btn-lg btn-block mt-3"
									onclick="validarContrasena()">
									Entrar
								</button>
							</div>
						</form>
						<hr>
						<div class="text-center">
							<div class="form-group">
								<a th:href="@{/reset/password}" style="text-decoration: none">
									<h5>¿Olvidaste tu contraseña?</h5>
								</a>
								<a th:href="@{/crearCuenta}">Crear nueva cuenta</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script th:src="@{/js/main.js}"></script>
    <!--Bootstrap-->
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootstrap/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap/popper.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap/main.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrapValidate.js}"></script>
    <!--Mask inputs-->
    <script th:src="@{/js/jquery.mask.min.js}"></script>
    <!--font-awesome-->
    <script th:src="@{/js/all.min.js}"></script>
    <!--Toast-->
    <script th:src="@{/js/toast.min.js}"></script>
	
	<script th:if="${msg_success != null}">
		new Toast({
			message: '[[${msg_success}]]',
			type: 'success'
		});
	</script>

	<script th:if="${msg_error != null}">
		new Toast({
			message: '[[${msg_error}]]',
			type: 'danger'
		});
	</script>

	<!-- Mostrar y ocultar contraseña input-->
	<script>
		function mostrarContrasena() {
			var pwd = $(".pwd");
			var tipo = document.getElementById("password");
			if (tipo.type == "password") {
				tipo.type = "text";
				document.getElementById('seePasswordButton').innerHTML = "<i class='fas fa-eye-slash'></i>";
			} else {
				tipo.type = "password";
				document.getElementById('seePasswordButton').innerHTML = "<i class='fas fa-eye'></i>";
			}
		}
	</script>
</body>

</html>