<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <!--style plantilla-->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!--Full calendar-->
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <!--font-awesome-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet"/>
    <!--Toast-->
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />
    <style>
      #calendar {
        max-width: 1100px;
        margin: 0 auto;
      }
    </style>
  </head>

  <body>
    <div class="wrapper d-flex align-items-stretch">
      <div th:insert="~{fragments/sidebar :: sidebarC}"></div>

      <!-- Page Content  -->
      <div id="content" class="p-1 p-md-2">
        <div th:insert="~{fragments/header :: header}"></div>
        <div style="height: 20% !important" id="calendar"></div>
        <input type="hidden" th:value="${session.user.getMatricula()}" name="" id="matricula">
      </div>
    </div>
   
    <div id="modal-register" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Registrar cita</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form th:action="@{/citas/guardar}" method="post" th:object="${cita}" class="needs-validation" novalidate id="formRegister" onsubmit="validate(event)" enctype="multipart/form-data">
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <label for="message-text" class="col-form-label">
                    Título:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Título"
                    th:field="*{title}"
                    required
                  />
                  <div class="invalid-feedback">
                    Ingrese un título válido
                  </div>
                </div>
                <div class="form-group col-lg-6">
                  <label for="recipient-name" class="col-form-label">
                    Fecha inicio:
                  </label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="fechaInicio"
                    disabled
                  />
                  <input
                    type="hidden"
                    class="form-control"
                    id="fechaInicioHidden"
                    th:field="*{start}"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="message-text" class="col-form-label">
                    Fecha fin:
                  </label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="fechaFin"
                    disabled
                  />
                  <input
                    type="hidden"
                    class="form-control"
                    id="fechaFinHidden"
                    th:field="*{end}"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
									<label>Servicio:</label>
									<select class="form-control form-control" th:field="*{servicio.id}" required>
										<option hidden selected value="">Selecciona un servicio...</option>
										<option th:each="tmpServicio: ${listaServicios}" th:value="${tmpServicio.id}" th:text="${tmpServicio.nombre}">

										</option>
									</select>
                  <div class="invalid-feedback">
                    Seleccione un servicio
                  </div>
								</div>
              </div>
              <div class="form-row">
                <div class="form-group col">
									<label>Ventanilla:</label>
									<select class="form-control form-control" th:field="*{ventanilla.id}" required>
										<option hidden selected value="">Selecciona una ventanilla...</option>
										<option th:each="tmpVentanilla: ${listaVentanillas}" th:value="${tmpVentanilla.id}" th:text="${tmpVentanilla.nombreVentanilla}">

										</option>
									</select>
                  <div class="invalid-feedback">
                    Seleccione una ventanilla
                  </div>
								</div>
              </div>
              <div class="form-row">
                <div class="form-group col">
									<label>Documento:</label>
									<input class="form-control" type="file" name="documentoCita" required>
                  <div class="invalid-feedback">
                    Seleccione un documento
                  </div>
								</div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary" id="guardar">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-details" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Detalles de la cita</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-row">
                <div class="form-group col-lg-12">
                  <label for="message-text" class="col-form-label">
                    Título:
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="title-details"
                    placeholder="Título"
                    disabled
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="recipient-name" class="col-form-label">
                    Fecha inicio:
                  </label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="start-details"
                    disabled
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="message-text" class="col-form-label">
                    Fecha fin:
                  </label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    id="end-details"
                    disabled
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
									<label>Servicio:</label>
									<input
                    type="text"
                    class="form-control"
                    id="servicio-details"
                    placeholder="Servicio"
                    disabled
                  />
								</div>
              </div>
              <div class="form-row">
                <div class="form-group col">
									<label>Ventanilla:</label>
									<input
                    type="text"
                    class="form-control"
                    id="ventanilla-details"
                    placeholder="Ventanilla"
                    disabled
                  />
								</div>
              </div>
              <div class="form-row">
                <div class="form-group col">
									<label>Documento:</label>
									<div id="documento-details"></div>
								</div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!--Full calendar-->
    <script th:src="@{/js/main.js}"></script>
    <!--Bootstrap-->
    <script th:src="@{/js/bootstrap/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap/popper.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap/main.js}"></script>
    <!--Agenda-solicitante-->
    <script th:src="@{/js/agenda-solicitante.js}"></script>
    <!--Toast-->
	  <script th:src="@{/js/toast.min.js}"></script>
    <!--Font-awesome-->
    <script th:src="@{/js/all.min.js}"></script>
    <!--Sweetalert2-->
    <script th:src="@{/js/sweetalert/sweetalert2.all.min.js}"></script>

    <script th:if="${msg_success != null}">
      new Toast({
        message: '[[${msg_success}]]',
        type: 'success'
      });
    </script>
    <script th:if="${msg_error != null}">
      new Toast({
        message: '[[${msg_error}]]',
        type: 'danger'
      });
    </script>
    <script>
      let param = document.getElementById('matricula').value;
      getMatricula(param);
    </script>
  </body>
</html>
 